# CODEOWNERS
# Last matching rule wins. Keep specific exclusions below general rules if needed.

# NPM and Yarn files
**/package.json              @superlinkx @elikmiller
**/package-lock.json         @superlinkx @elikmiller
**/.yarn/**                  @superlinkx @elikmiller
**/.yarnrc                   @superlinkx @elikmiller
**/.yarnrc.yml               @superlinkx @elikmiller
**/yarn.lock                 @superlinkx @elikmiller
**/yarn-workspaces.json      @superlinkx @elikmiller
