# CODEOWNERS
# Last matching rule wins. Keep specific exclusions below general rules if needed.

# NPM and Yarn files
**/package.json              @SpecterOps/security-champions @SpecterOps/engineering-admins
**/package-lock.json         @SpecterOps/security-champions @SpecterOps/engineering-admins
**/.yarn/**                  @SpecterOps/security-champions @SpecterOps/engineering-admins
**/.yarnrc                   @SpecterOps/security-champions @SpecterOps/engineering-admins
**/.yarnrc.yml               @SpecterOps/security-champions @SpecterOps/engineering-admins
**/yarn.lock                 @SpecterOps/security-champions @SpecterOps/engineering-admins
**/yarn-workspaces.json      @SpecterOps/security-champions @SpecterOps/engineering-admins
**/CODEOWNERS                @SpecterOps/engineering-admins
