# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory
coverage

# Dependency directory
node_modules
**/node_modules

# kubernetes manifests
./k8s

# misc.
./tools
./cmd/api/src/api/static/assets/*
