Source: bloodhound
Section: misc
Priority: optional
Maintainer: SpecterOps <info@specterops.io>
Build-Depends:
 ca-certificates,
 debhelper-compat (= 13),
 golang-any,
 dh-golang,
 wget,
 yarnpkg,
Homepage: https://github.com/SpecterOps/BloodHound
XS-Go-Import-Path: github.com/SpecterOps/BloodHound

Package: bloodhound
Architecture: amd64 arm64
Depends: postgresql-17, curl, jq, sed
Recommends: bloodhound-sharphound, bloodhound-azurehound
Description: Six Degrees of Domain Admin, BloodHound CE
 This package contains BloodHound Community Edition.
 .
 BloodHound uses graph theory to reveal the hidden and often unintended
 relationships within an Active Directory, Entra and Azure environment.
 Attackers can use BloodHound to easily identify highly complex Attack
 Paths that would otherwise be impossible to identify quickly, and
 defenders can use BloodHound to identify and eliminate those same
 Attack Paths. BloodHound helps blue and red teams better understand
 privileged relationships in an Active Directory, Entra, and Azure environments.
