#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DH_VERBOSE=1
export HOME=$(CURDIR)/debian/fakehome
export DH_GOLANG_BUILDPKG=github.com/specterops/bloodhound

# Use the "dh" sequencer
%:
	dh $@ --buildsystem=golang --with=golang --builddirectory=build

override_dh_auto_build:
	go run github.com/specterops/bloodhound/packages/go/stbernard deps
	go run github.com/specterops/bloodhound/packages/go/stbernard build

execute_after_dh_install:
	rm -rf debian/bloodhound/usr/share/gocode
	rm -rf debian/bloodhound/usr/lib/bloodhound/cmd/ui/node_modules
	rm -f debian/bloodhound/usr/lib/bloodhound/cmd/ui/.eslintrc.cjs

override_dh_auto_test:
override_dh_strip:
override_dh_dwz: #https://bugs-devel.debian.org/cgi-bin/bugreport.cgi?bug=933541
override_dh_shlibdeps:
override_dh_golang:
