{
  "dev": {
    "ENV": "dev",
    "BASEURL": "http://bhe.localhost",
    "DEFAULT_BROWSER":"chrome"
  },
  "staging": {
    "ENV": "staging",
    "BASEURL": "",
    "DEFAULT_BROWSER":"chrome"
  },
  "production": {
    "ENV": "production",
    "BASEURL": "",
    "DEFAULT_BROWSER":"chrome"
  }
}