name: Dummy Workflow

on: 
  pull_request:
    branches:
      - main
      - "stage/**"
    types:
      - opened
      - synchronize

jobs:
  dummy_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print a message
        run: echo "This is a dummy workflow run!"
