# Copyright 2023 Specter Ops, Inc.
#
# Licensed under the Apache License, Version 2.0
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0
name: PR-Ticket-OoOrg

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  check_pr_origin:
    runs-on: self-hosted

    steps:
    - name: Check if PR is from within the organization
      id: check_org
      run: 
        PR_URL=$(jq -r .pull_request.url "$GITHUB_EVENT_PATH")
          PR_NUMBER=$(jq -r .pull_request.number "$GITHUB_EVENT_PATH")
          TEAM_SLUG="bloodhound-engineering"  # Replace with your team's slug
          GITHUB_TOKEN="${{ secrets.GITHUB_TOKEN }}"

          # Get PR information
          PR_ORG=$(jq -r .pull_request.head.repo.organization.login "$GITHUB_EVENT_PATH")
          PR_USER=$(jq -r .pull_request.user.login "$GITHUB_EVENT_PATH")

          # Check if PR author is a member of the team
          TEAM_MEMBERSHIP=$(curl -s -X GET -H "Authorization: token $GITHUB_TOKEN" \
              "https://api.github.com/orgs/$PR_ORG/teams/$TEAM_SLUG/memberships/$PR_USER")

          if [ -z "$TEAM_MEMBERSHIP" ]; then
    - name: Login
      uses: atlassian/gajira-login@v3
      env:
            JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
            JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
            JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
    - name: Jira Create
      uses: atlassian/gajira-create@v3
      with:
            project: BP
            issuetype: 'Product Feature'
            summary: ${{ github.event.pulls.title }}
            description: "Github Pull Request Link: ${{ github.event.pulls.html_url}} \r\n ${{ github.event.pulls.body }}"
            fields: '{"labels":["GitHubReport"]}'
       env:
             GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
